modulo01/node_modules
modulo02/node_modules
modulo03/node_modules
modulo03/.env
modulo04/node_modules
desafio-01/node_modules
desafio-02/node_modules
desafio-03/node_modules
desafio-03/.env
live-git/node_modules