<strong> Olá, {{promoter}} </strong>

<p>Houve uma nova inscrição, confira os detalhes abaixo:</p>
<p>
  <strong>Inscrito: </strong> {{user}} <br>
  <strong>Data/hora: </strong> {{date}} <br>
  <br>

  <small>
    Quantidade de inscritos no evento: {{quantity}}
  </small>
</p>
